body {
    padding-top: 5px;
    padding-left: 5px;
    background-image: url("../data/bg.png");
    background-color: #424242;
}

#fill {
    box-shadow: 0px -0px 20px rgba(0, 0, 0, 0.75);
}

#target {
    border-radius: 5px;
    background-color: #eeeeee;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    text-align: left;
    border-radius: 3px;
    background-color: #cccccc;
    margin: 20px;
    padding: 10px;
}

.col-md-4 {
    width: 50%;
    margin: 0 auto;
}

.row {
    padding: 10px;
}
